<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map</title>
</head>
<style>
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        background-color: #000;
    }
    #mapCanvas {
        height: 90vmin;
        width: 90vmin;
        
    }
    button {
        margin: 10px;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        border: none;
        border-radius: 5px;
        background-color: #007BFF;
        color: white;
        transition: background-color 0.3s ease;
    }
    #outButton {
        position: fixed;
        top: 20px;
        right: 20px;
    }
    
</style>
<body>
    <canvas id="mapCanvas" ></canvas>
    <img id="mapImage" src="/images/map.png" alt="Map Image" style="display:none;">
        <button id="outButton" onclick="window.location.href='/home?user=' + encodeURIComponent(getUsername())">Back to Home</button>
    <script>
        function getUsername() {
            const urlParams = new URLSearchParams(window.location.search);
            return urlParams.get('user') || '';
        }
        
        const canvas = document.getElementById('mapCanvas');
        const ctx = canvas.getContext('2d');
        const img = new Image();
        canvas.width = 2048;
        canvas.height = 2048;
        img.onload = function() {
            ctx.drawImage(img, 0, 0, canvas.width, canvas.height);
        };

        img.src = '/images/map.png';
        // add buttons on the map
        canvas.addEventListener('click', function(event) {
            const rect = canvas.getBoundingClientRect();
            const x = event.clientX - rect.left;
            const y = event.clientY - rect.top;
            const percentX = (x / rect.width) * 100;
            const percentY = (y / rect.height) * 100;
            
            if (percentX >= 44 && percentX <= 49 && percentY >= 56 && percentY <= 59) {
                const urlParams = new URLSearchParams(window.location.search);
                const user = urlParams.get('user') || '';
                window.location.href = '/shop?user=' + encodeURIComponent(user);
            } else if (percentX >= 50 && percentX <= 56 && percentY >=49 && percentY <= 56) {
                const urlParams = new URLSearchParams(window.location.search);
                const user = urlParams.get('user') || '';
                window.location.href = '/fishing?user=' + encodeURIComponent(user);
            }
        });
    </script>
</body>
</html>